language: nix
rvm: system
os: osx

matrix:
  include:
    - env: OSX=10.12
      compiler: clang
      osx_image: xcode9.2

install:
  - ./install.sh

script:
  - nix-env -iA cachix -f https://cachix.org/api/v1/install
  - cachix use gccemacs-darwin
  - if [ -n "$CACHIX_SIGNING_KEY" ]; then cachix push gccemacs-darwin --watch-store; fi &
  - nix-env -iA emacsGccDarwin -f build.nix
  - sleep 10 # to allow cachix finish uploading
